@tailwind base;
@tailwind components;
@tailwind utilities;

/* index.css */

/* Tipografía */
body {
  font-family: "Monserat", sans-serif;
  color: #343a40;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif;
  color: #343a40;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 36px;
}

h2 {
  font-size: 24px;
}

p {
  font-size: 16px;
  color: #343a40;
  margin: 0;
  padding: 0;
}

a {
  color: #007bff;
  text-decoration: none;
}

a:hover {
  color: #0056b3;
}

/* Botones */
/* button {
  background-color: #007bff;
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 4px;
}

button:hover {
  background-color: #0056b3;
  color: #ffffff;
} */
