@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Lato', sans-serif;
  color: #495057; /* Gris oscuro alternativo para el texto del cuerpo */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 2.25rem; /* 36px */
  color: #007BFF; /* Azul brillante para los títulos principales */
}

h2 {
  font-size: 1.5rem; /* 24px */
  color: #0056b3; /* Azul oscuro para los títulos secundarios */
}

p {
  font-size: 1rem; /* 16px */
  color: #495057; /* Gris oscuro alternativo para los párrafos */
  margin: 0;
  padding: 0;
}

/* Media Queries para dispositivos móviles */
@media (max-width: 640px) {
  h1 {
    font-size: 1.75rem; /* 28px */
  }

  h2 {
    font-size: 1.25rem; /* 20px */
  }

  p {
    font-size: 0.875rem; /* 14px */
  }
}

@layer components {
  .sidebar-icon {
    @apply relative flex justify-center items-center 
            w-10 h-10 mx-auto cursor-pointer my-2
            bg-gradient-to-tr from-gray-300 to-gray-400 text-gray-950 shadow-md rounded-lg
            hover:rounded-3xl
            transition-all duration-300 ease-linear;
  }

  .sidebar-icon-active {
    @apply relative flex justify-center items-center 
            w-10 h-10 mx-auto cursor-pointer my-2
            bg-gradient-to-tr from-gray-400 to-gray-500 text-gray-950 shadow-md rounded-lg
            hover:rounded-3xl
            transition-all duration-300 ease-linear;
  }

  .sidebar-tooltip {
    @apply absolute w-auto py-0.5 px-4 m-2 min-w-max left-10
           shadow-md rounded-lg
           bg-gradient-to-tr from-gray-300 to-gray-400 text-gray-950
           text-xs font-bold
           transition-all duration-300 scale-0 origin-left;
  }
}

.loader {
  border: 10px solid #f3f3f3;
  border-top: 10px solid #1f2937;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spin 2s linear infinite;
}
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.border-paint::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 2px;
  background-color: gray;
  transition: width 2s;
  transform: translateX(-50%);
}

.border-paint:hover::before {
  width: 100%;
}